<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="WalletHubTestSuit">
	<test name="Assignement_1">
		<classes>
			<class name="com.facebook.test.FacebookTest" />
		</classes>
	</test>
	<test name="Assignement_2">
		<classes>
			<class name="com.facebook.test.WallethubReviewTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
